<div class="">
	<div class="bg-purple">
    <div class="container mx-auto py-1 px-10">
      <div class="flex items-center justify-between py-4">
        <div class="flex items-center">
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Slack_Technologies_Logo.svg"  width="120" height="220">

        <div class="hidden sm:flex sm:items-left pl-8">
          <a href="#" class="text-white text-sm font-bold hover:text-purple-600 mr-4">Products</a>
          <a href="#" class="text-white text-sm font-bold hover:text-purple-600 mr-4">Solutions</a>
          <a href="#" class="text-white text-sm font-bold hover:text-purple-600 mr-4">Pour les entreprises</a>
          <a href="#" class="text-white text-sm font-bold hover:text-purple-600 mr-4">Ressources</a>
          <a href="#" class="text-white text-sm font-bold hover:text-purple-600">Tarifs</a>
        </div></div>

        <div class="hidden sm:flex sm:items-center">
          <a routerLink="/login-page" class="text-gray-900 text-white font-bold text-base hover:text-white-800 mr-4 pr-7">Connexion</a>
          <a routerLink="/login-page" class="text-gray-800 text-purple font-bold bg-white border px-4 py-2 text-base rounded-lg hover:text-purple-600 hover:border-purple-600">ESSAI GRATUIT</a>
        </div>

        
       
      </div>
    </div>
  </div>
</div>
